body {
    background-color: #F2F2F2;
    background-image: url(./images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.createTodo {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    height: 48px;
    width: 327px;
    border-radius: 5px;

}

.checkbox {
    border-color: #D1D2DA;
    border-radius: 50%;
}

textarea {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sun {
    height: 20px;
    width: 20px;
}

.moon {
    height: 20px;
    width: 20px;
}